<div class="wrapper">
  <h2 class="header">Games Available</h2>
  <div class="games-container">
    <img
      src="https://upload.wikimedia.org/wikipedia/en/f/f3/Call_of_Duty_%282003%29_cover.jpg"
      alt=""
      class="img"
    />

    <img
      src="https://upload.wikimedia.org/wikipedia/en/f/f3/Call_of_Duty_%282003%29_cover.jpg"
      alt=""
      class="img"
    />

    <img
      src="https://upload.wikimedia.org/wikipedia/en/f/f3/Call_of_Duty_%282003%29_cover.jpg"
      alt=""
      class="img"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/en/f/f3/Call_of_Duty_%282003%29_cover.jpg"
      alt=""
      class="img"
    />

    <img
      src="https://upload.wikimedia.org/wikipedia/en/f/f3/Call_of_Duty_%282003%29_cover.jpg"
      alt=""
      class="img"
    />

    <img
      src="https://upload.wikimedia.org/wikipedia/en/f/f3/Call_of_Duty_%282003%29_cover.jpg"
      alt=""
      class="img"
    />
  </div>
  <button class="btn">All Games</button>
</div>
