.wrapper {
  width: 85vw;
  color: #d9d9d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto 0;

  .image-container {
    width: 60%;

    .img {
      width: 600px;
    }
  }

  .earn-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 70px;

    .header {
      font-size: 35px;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    .paragraph {
      font-size: 14px;
      text-align: end;
      margin-bottom: 30px;
    }

    .btn {
      background-color: transparent;
      border: 2px solid #d9d9d7;
      font-size: 25px;
      margin: 20px;
      padding: 15px 25px;
      color: #d9d9d7;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 650px) and (max-width: 768px) {
  .wrapper {
    width: 95vw;
    .image-container {
      width: 40%;

      .img {
        width: 400px;
      }
    }

    .earn-container {
      margin-right: 50px;

      .header {
        font-size: 25px;
      }

      .paragraph {
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .wrapper {
    width: 100vw;
    .image-container {
      display: none;

      .img {
        display: none;
      }
    }

    .earn-container {
      width: 85%;
      margin: 0 auto;

      .header {
        font-size: 25px;
      }

      .paragraph {
        text-align: center;
      }
    }
  }
}
