<div class="wrapper">
  <div class="image-container">
    <img
      src="../../../../assets/images/earn-wallet.png"
      alt="earn-wallet"
      class="img"
    />
  </div>
  <div class="earn-container">
    <h2 class="header">Register and Start Earning</h2>
    <p class="paragraph">
      "Unlock endless possibilities with our 'Earn Coins in Games' program. Play
      your favorite games while accumulating valuable in-game coins. Level up
      your skills and stack up your earnings as you conquer challenges. Trade,
      customize, and enhance your gaming experience using the coins you earn.
      Start gaming, start earning!"
    </p>
    <button class="btn">Register now</button>
  </div>
</div>
