.wrapper {
  width: 85vw;
  color: #d9d9d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto 0;

  .image-container {
    width: 60%;

    .img {
      width: 600px;
    }
  }

  .earn-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 70px;

    .header {
      font-size: 35px;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    .paragraph {
      font-size: 14px;
      text-align: end;
      margin-bottom: 30px;
    }

    .btn {
      background-color: transparent;
      border: 2px solid #d9d9d7;
      font-size: 25px;
      margin: 20px;
      padding: 15px 25px;
      color: #d9d9d7;
      cursor: pointer;
    }
  }
}
