.wrapper {
  color: #d9d9d7;
  display: flex;
  justify-content: space-between;
  width: 75vw;
  margin: 100px auto;

  .header {
    width: 50%;
    margin-right: 40px;

    .logo {
      font-size: 50px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 4px;
      margin-top: 30px;
    }

    .win-header {
      font-size: 25px;
    }

    .paragraph {
      font-size: 16px;
      margin: 40px 0;
    }

    .btn {
      width: 260px;
      font-size: 30px;
      color: #d9d9d7;
      background: linear-gradient(to right, #a8234e, #e63877, #a8234e);
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
    }
  }

  .coin {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .img {
      max-width: 22vw;
      max-height: 45vh;

      animation: bounce2 2s ease infinite;

      @keyframes bounce2 {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-30px);
        }
        60% {
          transform: translateY(-15px);
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .wrapper {
    .header {
      .logo {
        font-size: 45px;
        line-height: 50px;
      }

      .win-header {
        font-size: 20px;
      }

      .paragraph {
        font-size: 15px;
      }
    }

    .coin {
      .img {
        max-width: 25vw;
        max-height: 45vh;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .header {
      width: 100%;
      .logo {
        font-size: 50px;
        line-height: 50px;
      }
    }

    .coin {
      display: none;
      .img {
        display: none;
      }
    }
  }
}
