<div class="wrapper">
  <div class="header">
    <h1 class="logo">Game Pulse</h1>
    <h2 class="win-header">In it to Win it!</h2>
    <p class="paragraph">
      "Welcome to Game Pulse, your ultimate gaming destination. Dive into a
      world of exhilarating gameplay, breaking news, and immersive experiences.
      Stay ahead with the latest updates and connect with a vibrant gaming
      community. Get ready to elevate your gaming journey with Game Pulse."
    </p>
    <button class="btn">Play now!</button>
  </div>
  <div class="coin">
    <img
      src="../../../../assets/images/bitcoin_1490849.png"
      alt="bitcoin"
      class="img"
    />
  </div>
</div>
