.wrapper {
  color: #d9d9d7;
  display: flex;
  justify-content: space-between;
  width: 80vw;

  margin: 80px auto;

  .header {
    width: 50%;
    margin-right: 40px;

    .logo {
      font-size: 45px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 4px;
    }

    .win-header {
      font-size: 22px;
    }

    .paragraph {
      font-size: 16px;
      margin: 40px 0;
    }

    .btn {
      width: 260px;
      font-size: 30px;
      color: #d9d9d7;
      background: linear-gradient(to right, #a8234e, #e63877, #a8234e);
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
    }
  }

  .coin {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .img {
      max-width: 22vw;
      max-height: 45vh;

      animation: bounce2 2s ease infinite;

      @keyframes bounce2 {
        0%,
        20%,
        50%,
        80%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-30px);
        }
        60% {
          transform: translateY(-15px);
        }
      }
    }
  }
}
