.wrapper {
  background: url("../../../../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #d9d9d7;
  padding: 0px 0 100px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 40px auto;
    padding: 40px;
    border-radius: 5px;

    .img {
      width: 300px;
      height: 400px;
      border-radius: 10px;
    }

    .info-container {
      margin: 0px 40px;
      background: linear-gradient(to right, #a8234e, #e63877, #a8234e);
      padding: 40px;
      border-radius: 10px;

      .btn {
        font-size: 16px;
        padding: 4px 15px;
        background-color: #011627;
        border: 1px solid #011627;
        color: #d9d9d7;
        font-weight: 500;
        cursor: pointer;
        border-radius: 3px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 892px) {
  .wrapper {
    .container {
      width: 90vw;
    }
  }
}
@media only screen and (max-width: 768px) {
  .wrapper {
    .container {
      justify-content: center;
      flex-wrap: wrap;
      width: 90vw;

      .info-container {
        margin: 0;
        padding: 20px;
      }
    }

    .img {
      margin-bottom: 30px;
    }
  }
}
