.wrapper {
  color: #d9d9d7;
  width: 80vw;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .container {
    .icon {
      font-size: 30px;
      margin: 0 15px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 650px) {
  .wrapper {
    width: 90vw;

    .logo {
      font-size: 18px;
      letter-spacing: 2px;
    }

    .container {
      .icon {
        font-size: 20px;
        margin: 0 10px;
      }
    }
  }
}
