.wrapper {
  display: flex;
  justify-content: space-between;
  width: 92vw;
  margin: 30px auto;
  color: #d9d9d7;

  .links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .logo {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 4px;
      margin: 0;
      cursor: pointer;
    }

    .link {
      font-size: 17px;
      cursor: pointer;
    }
  }

  .navigation {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;

    .icon {
      font-size: 35px;
      transform: translateY(-20%);
    }
  }
}
