.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d7;
  border-radius: 20px;
  padding: 6px;
  margin: 0px 20px;

  .search-icon {
    margin-right: 8px;
    color: #d9d9d7;
  }

  .search-input {
    border: none;
    outline: none;
    color: #d9d9d7;
    background-color: #0c020d;
  }
}

@media only screen and (min-width: 650px) and (max-width: 768px) {
  .search-container {
    width: 200px;
    margin: 0 10px;
  }
}

@media only screen and (max-width: 650px) {
  .search-container {
    display: none;
  }
}
